################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BetEcommerceApi
/BetEcommerce.Api.Test/bin/Debug/net6.0
/BetEcommerce.Api.Test/obj/Debug/net6.0
/BetEcommerce.Api.Test/obj
/BetEcommerce.Model/bin/Debug/net6.0
/BetEcommerce.Model/obj/Debug/net6.0
/BetEcommerce.Model/obj
/BetEcommerce.Repository/bin/Debug/net6.0
/BetEcommerce.Repository/obj/Debug/net6.0
/BetEcommerce.Repository/obj
/BetEcommerce.Service/bin/Debug/net6.0
/BetEcommerce.Service/obj
/BetEcommerceApi/bin/Debug/net6.0
/BetEcommerceApi/obj
/BetEcommerce.Repository.Tests/obj
/BetEcommerce.Service.Tests/bin/Debug/net6.0
/BetEcommerce.Service.Tests/obj
/BetEcommerce.Repository.Tests/bin/Debug/net6.0
